Source: ltposter
Section: web
Priority: optional
Maintainer: Seokmoon Jang <drssay97@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: ltposter
Architecture: all
Depends: python (>= 2.4), python-beautifulsoup (>= 3), python-elementtree, yaz
Description: LibraryThing book submission tool
 LTposter is a submission tool for Korean users using LibraryThing.
 This tool uses Z39.50 protocol and Naver OpenAPI to gather book info.

